/* colors */

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$fontBlack: rgba(38, 38, 38, 1);
$subtitleText: rgba(211, 211, 211, 1);
$errorRed: rgba(238, 44, 44, 1);
$grain: rgba(253, 252, 251, 1);
$blackboard: rgba(86, 86, 86, 1);
$oxblood: rgba(118, 50, 63, 1);
$oxbloodOpacity: rgba(118, 50, 63, .65);
$tan: rgba(226, 209, 195, 1);
$focusBlue: rgba(76, 76, 255, 1);

/* font-size */

$t3XS: 0.375em; // 6px/16px
$tXXS: 0.5em; // 8px/16px
$tXS: 0.75em; // 12px/16px
$tSM: 0.875em; // 14px/16px
$tRG: 1em; // 16px/16px
$tMD: 1.375em; // 22px/16px
$tLG: 1.5em; // 24/16px
$tXL: 1.75em; // 28px/16px
$tXXL: 1.875em; // 30px/16px
$t3XL: 2em; // 32px/16px
$t4XL: 2.5em; // 40px/16px

/* font-weight */

$skinnyWeight: 200;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$heavyWeight: 700;

/* margin-right */

$mr3XS: 0.375rem; // 6px/16px
$mrXXS: 0.5rem; // 8px/16px
$mrXS: 0.75rem; // 12px/16px
$mrSM: 0.875rem; // 14px/16px
$mrRG: 1rem; // 16px/16px
$mrMD: 1.375rem; // 22px/16px
$mrLG: 1.5rem; // 24/16px
$mrXL: 1.75rem; // 28px/16px
$mrXXL: 1.875rem; // 30px/16px
$mr3XL: 2rem; // 32px/16px
$mr4XL: 2.5rem; // 40px/16px

/* margin-left */

$ml3XS: 0.375rem; // 6px/16px
$mlXXS: 0.5rem; // 8px/16px
$mlXS: 0.75rem; // 12px/16px
$mlSM: 0.875rem; // 14px/16px
$mlRG: 1rem; // 16px/16px
$mlMD: 1.375rem; // 22px/16px
$mlLG: 1.5rem; // 24/16px
$mlXL: 1.75rem; // 28px/16px
$mlXXL: 1.875rem; // 30px/16px
$ml3XL: 2rem; // 32px/16px
$ml4XL: 2.5rem; // 40px/16px

/* margin-top */

$mt3XS: 0.375rem; // 6px/16px
$mtXXS: 0.5rem; // 8px/16px
$mtXS: 0.75rem; // 12px/16px
$mtSM: 0.875rem; // 14px/16px
$mtRG: 1rem; // 16px/16px
$mtMD: 1.375rem; // 22px/16px
$mtLG: 1.5rem; // 24/16px
$mtXL: 1.75rem; // 28px/16px
$mtXXL: 1.875rem; // 30px/16px
$mt3XL: 2rem; // 32px/16px
$mt4XL: 2.5rem; // 40px/16px
$mt5XL: 4.5rem;

/* margin-bottom */

$mb3XS: 0.375rem; // 6px/16px
$mbXXS: 0.5rem; // 8px/16px
$mbXS: 0.75rem; // 12px/16px
$mbSM: 0.875rem; // 14px/16px
$mbRG: 1rem; // 16px/16px
$mbMD: 1.375rem; // 22px/16px
$mbLG: 1.5rem; // 24/16px
$mbXL: 1.75rem; // 28px/16px
$mbXXL: 1.875rem; // 30px/16px
$mb3XL: 2rem; // 32px/16px
$mb4XL: 2.5rem; // 40px/16px

/* padding-right */

$pr3XS: 0.375rem; // 6px/16px
$prXXS: 0.5rem; // 8px/16px
$prXS: 0.75rem; // 12px/16px
$prSM: 0.875rem; // 14px/16px
$prRG: 1rem; // 16px/16px
$prMD: 1.375rem; // 22px/16px
$prLG: 1.5rem; // 24/16px
$prXL: 1.75rem; // 28px/16px
$prXXL: 1.875rem; // 30px/16px
$pr3XL: 2rem; // 32px/16px
$pr4XL: 2.5rem; // 40px/16px

/* padding-left */

$pl3XS: 0.375rem; // 6px/16px
$plXXS: 0.5rem; // 8px/16px
$plXS: 0.75rem; // 12px/16px
$plSM: 0.875rem; // 14px/16px
$plRG: 1rem; // 16px/16px
$plMD: 1.375rem; // 22px/16px
$plLG: 1.5rem; // 24/16px
$plXL: 1.75rem; // 28px/16px
$plXXL: 1.875rem; // 30px/16px
$pl3XL: 2rem; // 32px/16px
$pl4XL: 2.5rem; // 40px/16px

/* padding-top */

$pt3XS: 0.375rem; // 6px/16px
$ptXXS: 0.5rem; // 8px/16px
$ptXS: 0.75rem; // 12px/16px
$ptSM: 0.875rem; // 14px/16px
$ptRG: 1rem; // 16px/16px
$ptMD: 1.375rem; // 22px/16px
$ptLG: 1.5rem; // 24/16px
$ptXL: 1.75rem; // 28px/16px
$ptXXL: 1.875rem; // 30px/16px
$pt3XL: 2rem; // 32px/16px
$pt4XL: 2.5rem; // 40px/16px
$pt5XL: 4rem; // 54px/16px
$pt6XL: 7.5rem; //120px/16px

/* padding-bottom */

$pb3XS: 0.375rem; // 6px/16px
$pbXXS: 0.5rem; // 8px/16px
$pbXS: 0.75rem; // 12px/16px
$pbSM: 0.875rem; // 14px/16px
$pbRG: 1rem; // 16px/16px
$pbMD: 1.375rem; // 22px/16px
$pbLG: 1.5rem; // 24/16px
$pbXL: 1.75rem; // 28px/16px
$pbXXL: 1.875rem; // 30px/16px
$pb3XL: 2rem; // 32px/16px
$pb4XL: 2.5rem; // 40px/16px
$pb5XL: 4rem; // 54px/16px
$pb6XL: 7.5rem; //120px/16px
