.about-background {
  background: linear-gradient($grain, $tan);
}

.about {
  &-image {
    background-image: url("../img/about-background.jpg");
    background-position: center;
    background-size: 100%;
    min-height: 25rem;
  }
  &-information-body {
    color: $black;
    font-size: $tMD;
    font-weight: $regularWeight;
  }
}

.about-me {
  &-title {
    color: $black;
    font-size: $tXL;
    font-weight: $regularWeight;
    padding-top: $ptLG;
  }
  &-body {
    color: $blackboard;
    font-size: $tRG;
    font-weight: $regularWeight;
    margin: $mbRG 15% $mbXL 15%;
  }
}

.cta {
  padding-bottom: $pbXXL;
  padding-top: $ptRG;
  &-secondary {
  border-radius: 3px;
  margin-top: $mtXL;
  }
}

.button {
  background-color: $oxblood;
}
