.bottom-footer {
  background-color: $oxbloodOpacity;
  &-content-website-info {
    color: $black;
    font-size: $tRG;
    font-weight: $regularWeight;
    margin: $mtLG auto $mbRG auto;
    text-transform: lowercase;
  }
}

.social-icon {
  height: 2.5rem;
  margin: auto $mrRG $mbLG $mlRG;
  @media screen and (max-width: 39.9375em) {
    height: 2rem;
  }
}
