.bottom-footer {
  background-color: $oxblood;
  &-content-website-info {
    color: $black;
    font-size: $tRG;
    font-weight: $regularWeight;
    margin: $mtLG auto $mbRG auto;
    text-transform: lowercase;
  }
}

.social-icon {
  height: 40px;
  margin: auto $mrRG $mbLG $mlRG;
}
