.contact-form {
  margin-top: $mtXXL;
  margin: auto;
  width: 40%;
  @media screen and (max-width: 39.9375em) {
    width: 80%;
  }
}

.form-field-row {
  margin-top: $mtRG;
}

$highlight-color: $oxblood;

.form-floating-label {
  position: relative;

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea {
    margin-bottom: 0;
    color: $blackboard;
    font-size: $tRG;
    font-weight: $lightWeight;
    padding: $ptXXL 1rem 1rem $plLG;
  }

  label {
    color: $blackboard;
    font-size: $tRG;
    position: absolute;
    pointer-events: none;
    left: $mlRG;
    bottom: 0;
    transition: all 0.2s ease-in;
    font-weight: $lightWeight;
  }

  textarea ~ label {
    top: 1.25rem;
    font-size: $tMD;
    font-weight: $lightWeight;
  }

  /* active state */
  input:focus ~ label,
  input:disabled[value] ~ label,
  &.has-value input ~ label {
    top: 0;
    font-size: $tXS;
    color: $focusBlue;
    font-weight: $regularWeight;
  }

  textarea:focus ~ label,
  &.has-value textarea ~ label {
    top: 0;
    font-size: $tXS;
    color: $focusBlue;
    font-weight: $regularWeight;
  }
}
