.top-nav {
  background: $oxbloodOpacity;
  top: 0;
  z-index: 1;
  &-content {
    color: $white;
    font-size: $tXL;
    font-weight: $heavyWeight;
    letter-spacing: 0.86px;
    margin: auto;
    padding-top: $ptXXS;
    padding-bottom: $pbXS;
    @media screen and (max-width: 39.9375em) {
      font-size: $tRG;
    }
  }
}
