<div class="grid-x">
<div class="about-background text-center cell large-12">
  <div class="about-me text-center">
    <h3 class="about-me-title text-center">
      Celiac chillwave PBR&B
    </h3>
    <p class="about-me-body text-center">
      Lorem ipsum dolor amet shoreditch listicle 3 wolf moon everyday carry. Brooklyn hoodie truffaut fam authentic, bushwick migas
      literally. Meggings cliche enamel pin, umami iceland iPhone aesthetic pug trust fund. Bespoke portland tattooed flannel,
      hell of flexitarian raw denim vaporware asymmetrical.
    </p>
  </div>
  {{> form-field}}
  <center class="cta">
    <a class="button radius cta-secondary text-center" href="#">
      This is the CTA
    </a>
  </center>
</div>
</div>
