<div class="grid-x">
  <div class="bottom-footer cell">
    <div class="bottom-footer-content large-8 small-12">
      <p class="bottom-footer-content-website-info text-center">
        This is going to be the footer.
      </p>
    </div>
    <div class="bottom-footer-icons large-4 small-12 text-center">
      <img class="social-icon" src="assets/img/social_icons/facebook.svg" alt="facebook" />
      <img class="social-icon" src="assets/img/social_icons/instagram.svg" alt="instagram" />
      <img class="social-icon" src="assets/img/social_icons/twitter.svg" alt="twitter" />
      <img class="social-icon" src="assets/img/social_icons/youtube.svg" alt="youtube" />
      <img class="social-icon" src="assets/img/social_icons/linkedin.svg" alt="linkedin" />
    </div>
  </div>
</div>
