<div class="grid-container restaurant-card-background">
    <div class="restaurant-card-background grid-x grid-padding-x small-up-2 medium-up-3">
      <div class="cell">
        <div class="card">
          <img class="card-image" src="/assets/img/restaurant-1.jpg" alt="restaurant-1">
          <div class="card-section">
          <h4 class="card-title">This is a row of cards.</h4>
            <p>this will show restaurant.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card restaurant-card">
          <img class="card-image" src="/assets/img/restaurant-1.jpg" alt="restaurant-2">
          <div class="card-section">
            <h4 class="card-title">This is a card.</h4>
            <p>this will show restaurant</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card restaurant-card">
          <img class="card-image" src="/assets/img/restaurant-1.jpg" alt="restaurant-3">
          <div class="card-section">
            <h4 class="card-title">This is a card.</h4>
            <p>this will show restaurant</p>
          </div>
        </div>
      </div>
    </div>
  </div>
