<div class="contact-form text-center large-8">
  <form action="">
    <div class="row">
      <div class="small-12 form-field-row column">
        <div class="form-floating-label">
          <input type="text" id="text" name="text" required>
          <label for="text">FIrst Name</label>
        </div>
      </div>
      <div class="small-12 form-field-row column">
        <div class="form-floating-label">
          <input type="text" id="text" name="text">
          <label for="text">Last Name</label>
        </div>
      </div>
      <div class="small-12 form-field-row column">
        <div class="form-floating-label">
          <input type="email" id="email" name="email">
          <label for="email">Email Address</label>
        </div>
      </div>
      <div class="small-12 form-field-row column">
        <div class="form-floating-label">
          <input type="tel" id="tel" name="tel">
          <label for="tel">Phone Number</label>
        </div>
      </div>
    </div>
  </form>
</div>
